* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-image: url(/images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  min-height: 100%;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

a {
  -o-transition: all 100ms;
  -ms-transition: all 100ms;
  -moz-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

.container-fluid {
  width: calc(100% - 250px);
  left: 200px;
  margin-right: 0;
  margin-left: 250px;
}
